


%div.row
  %div.col-md-11.col-md-offset-1#hiwouter
    %h1 How It Works
    %div.row
      %div.col-md-11.hiwdiv#hiwstatement
        %h2.hiwdivtitle Nonprofit Video Projects
        %p#hiwmission short mission statement goes here...
    %div.row
      %div.col-md-5.hiwdiv#hiwstep-box
        %h2.hiwdivtitle Nonprofits
        %h4.div-step 
          1. Create a profile for your nonprofit
          =link_to 'here.', "#{get_correct_link('nonprofit')}"
        %h4.div-step 
          2. Create a project posting with a description about your video project.
        %h4.div-step 3. Wait for interested filmmakers to contact you OR Immediately browse filmmaker profiles and connect with them.
        %h4.div-step 4. Choose your filmmaker.
        %h4.div-step 5. Start your video project!
      %div.col-md-5.col-md-offset-1.hiwdiv#hiwstep-box
        %h2.hiwdivtitle Filmmakers
        %h4.div-step 
          1. Create a professional profile 
          =link_to 'here.', "#{get_correct_link('filmmaker')}"
        %h4.div-step 2. Search through nonprofit video projects and find one that interests you.
        %h4.div-step 3. Contact the nonprofit group and briefly introduce themselves. (The nonprofit will be able to view your professional profile.)
        %h4.div-step 4. If you are selected, the nonprofit will contact you with further instructions.
        %h4.div-step 5. Complete your video project.
        %h4.div-step 6. Get paid!

