%h1 
= form_for @project do |f|
  .container
    .row
      .col-md-12
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              CREATE NEW PROJECT
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              .row
                .col-md-12
                  .form-group
                    %label Title
                    %input.form-control{name: "project[name]", placeholder: "Title", type: "text"}/
                  .form-group
                    %label Blurb
                    %textarea.form-control{name: "project[blurb]", placeholder: "Blurb", rows: "1", type: "text"}
                  .form-group
                    %label Description
                    %textarea.form-control{name: "project[description]", placeholder: "Description",  rows: "5", type: "text"}
                  .form-group
                    %label Mission
                    %textarea.form-control{name: "project[nonprofit_mission]", placeholder: "Mission", rows: "5", type: "text"}
              .row
                .col-md-6
                  .form-group
                    %label Category
                    %select#category.form-control{name: "project[category]", placeholder: "Category", type: "text"}
                      %option Community
                      %option Education
                      %option Housing
                .col-md-6
                  .form-group
                    %label Location
                    %select#location.form-control{name: "project[location]", placeholder: "Location", type: "text"}
                      %option Alameda
                      %option San Francisco
                      %option Santa Clara
                      %option Mountain View
              .row
                .col-md-6
                  .form-group
                    %label Budget
                    .input-group
                      %span.input-group-addon $
                      %input.form-control{name: "project[budget]", placeholder: "Budget", type: "text"}
                .col-md-6
                  .form-group
                    %label Deadline
                    .input-group
                      %link{href: "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", rel: "stylesheet"}/
                      %script{src: "http://code.jquery.com/jquery-1.9.1.js"}
                      %script{src: "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
                      %link{href: "/resources/demos/style.css", rel: "stylesheet"}/
                      :javascript
                        $(function() {
                        $( "#datepicker" ).datepicker({dateFormat: 'dd-mm-yy'});
                        });
                      %span.input-group-addon DD-MM-YYYY
                      %input#datepicker.form-control{name: "project[deadline]", placeholder: "Deadline", type: "text"}
              .row
                .col-md-12
                  %input.btn.btn-success.btn-block{type: "submit", value: "Save"}
                        
