%div.col-md-8.col-md-offset-2#nonprofit-div
  %div.row.header-block#pic-n-info
    %div.col-md-3.col-sm-2.col-xs-2#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-6 
      %h1#name
        name HARDCODED
      %h4#categories
        category HARDCODED
        %a edit
      %h4#location
        location HARDCODED
        %a edit
      %h4
        %b Active Projects:
        1 HARDCODED
      %h4
        %b Completed Projects:
        1 HARDCODED
  
  %div.row.header-block.profile-block
    %h3.topic
      %b About
      %a{:id => 'nonprofit-about'}edit
    %h4
      about HARDCODED
  
    %h3.topic.extra-space
      %b Links
      %a{:id => 'links'}edit
    %h4
      links HARDCODED
  
  %div.row.header-block.profile-block
    %h3.topic
      %b Active Projects
      %a{:id => 'activeprojects'}edit
    %h4
     
    %h3.topic.extra-space
      %b Completed Projects
      %a{:id => 'completedprojects'}edit
    %h4

  = button_to "<< Back", nonprofit_path, :class => "btn btn-md", :method => 'get', :id => "back-button"
