.hiwdiv {
  background-color: #3498DB;
  color: white;
  border-radius:5px;
  margin-top:2%;
}

.hiwdivtitle {
  color:white;
  font-weight:bold;
}

.div-step {
  font-size:150%;
}

#hiwstatement {
  font-size:150%;
}

#hiwstep-box {
  padding-left:4%;
}

.div-step {
  text-indent:-6%;
  color:white;
}

