#learnmore-div{
background-color: #34495E;
padding:3%;
margin-top:5%;
border-radius:10px;

}

#learnmore-title-div {
background-color: #f7f7f9;
padding:1%;
border-radius:10px;
margin:0;
margin-bottom:2%;
text-align:center;
}

#learnmore-info {
background-color: #f7f7f9;
padding:3%;
border-radius:10px;
margin:0;
text-indent:3%;
}

#learnmore-text {
color:#2C3E50;
}

#learnmore-title {
font-size:350%;
color:#303031;
}