
#mess-outer-div  {
  background-color:#27AE60;
  border-radius: 10px;
  padding-left:3%;
  padding-right:3%;
  margin-bottom:5%;
  margin-top:2.5%;
  padding-top:0.5%;

}

#mess-content-div {
  margin-top:2%;
  
}

#folders-block {
  margin-right:8%;
  margin-bottom:3%;
}

#messages-block {
  margin-bottom:3%;
}

#mess-folders-title {
text-align:left;
}

.mess-folder {
text-align:left;
}